footer.footer
  
  ul.footer
    a(href='https://shenoy.github.io/portfolio') About me
    a(href='https://shenoy.github.io/port-folio/#contact') Contact
    p.footer__copyright &copy; by Rajesh Shenoy 12 Dec 2020. 