extends base

block content
   
  #box.about
    p Comedy Shack is built using Node.js,    
    p Express, MongoDB and Pug. The API is built
    p using the Model View Controller framework. 
    p The model is built using Mongoose and data 
    p is stored in a MongoDB database. The controllers
    p comprise of various functions to perfom CRUD 
    p operations. The views are rendered using Pug 
    p template engine. Jokes can be submitted by the
    p client using Axios which makes Asynchronous 
    p JavaScript And XML (AJAX) requests to post 
    p data to the API. 
      